/* Album image link*/
.img-link {
  height: 60%;
}

/* Album image */
.card-img-top {
    height: 100%;
    object-fit: cover;
}

/* Album information */
.card-title {
  font-size: 18px;
}

/* button */
.card-btn {
    padding: 0;
    width: 40%;
}

.btn {
  width: 100%;
}

