<!-- Button trigger modal -->
<button type="button" class="btn btn-light" data-bs-toggle="modal" attr.data-bs-target="{{'#edit-' + album._id}}">
  Edit
</button>

<!-- Modal -->
<div class="modal fade" id="{{'edit-' + album._id}}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal header -->
      <div class="modal-header">
        <h5 class="modal-title">Edit Album</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body-->
      <div class="modal-body">
        <app-item-form type="albums" [existingAlbum]="album"></app-item-form>
      </div>
    </div>
  </div>
</div>
